doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app='app')
    block content
  script(src='vendors/angularjs/angular.js')
  script(src='vendors/moment/moment.js')
  script(src='vendors/angular-ui-router/release/angular-ui-router.js')
  script(src='vendors/angular-websocket/dist/angular-websocket.js')
  script(src='javascripts/main.js')
